{% extends 'base.html.twig' %}

{% block body %}
	<center><h2 class="song-title">{{ title }}</h2></center>

       {% for val in pager %}
            <div class="pager">
                <center><h3 class="song-heading"> {{ val.title }} </h3></center> 
                    <table>
                        <tr>
                            <td><b>Track Count </b></td>
                            <td>{{ val.trackCount }}</td>
                        </tr>
                        <tr>
                            <td><b>Genre</b></td>
                            <td>{{ val.genre }}</td>
                        </tr>
                        <tr>
                            <td><b>CreatedAt</b></td>
                            <td>{{ val.createdAt | date }}</td>
                        </tr>
                        <tr>
                            <td><b>No Of Votes</b></td>
                            <td>{{ val.votesString }}</td>
                        </tr>
                        <tr>
                            <td><b>ID </b></td>
                            <td>{{ val.id }}</td>
                        </tr>
                        <tr>
                            <td class="No-Answer"><b>No of Answers </b></td>
                            <td>{{ val.approvedAns|length }}</td>
                        </tr>
                    </table> 
                     
                    <div style="display:flex">
                        {% for tag in val.mixTags %}
                            <span class="tagname">#{{tag.tag.name}} </span>
                        {% endfor %}
                    </div>
                    <center><a class="btn btn-primary" href="{{ path('singleid',{
                        slug: val.slug
                        } ) }}"> visit here </a></center>
               
                <br>
            </div>
            {% endfor %}

            {{ pagerfanta(pager) }}
{% endblock %}
